#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Define a dead layer key
#define DEAD_KEY(name, key) OMIT_IF_NO_REF name: name { \
  compatible = "zmk,behavior-macro-one-param";          \
  #binding-cells = <1>;                                 \
  tap-ms = <0>;                                         \
  wait-ms = <0>;                                        \
  bindings                                              \
    = <&macro_tap key>                                  \
    , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>         \
    ;                                                   \
};

// Define a shifted dead layer key
#define DEAD_KEY_SHIFT(name, key) OMIT_IF_NO_REF name: name { \
  compatible = "zmk,behavior-macro-one-param";                \
  #binding-cells = <1>;                                       \
  tap-ms = <0>;                                               \
  wait-ms = <0>;                                              \
  bindings                                                    \
    = <&macro_tap key>                                        \
    , <&macro_press &kp LSHIFT>                               \
    , <&macro_tap &macro_param_1to1 &kp MACRO_PLACEHOLDER>    \
    , <&macro_release &kp LSHIFT>                             \
    ;                                                         \
};

// Define a two-level key (e.g. punctuation key)
#define TWO_LEVEL_KEY(name, base, shift) OMIT_IF_NO_REF name: name { \
  compatible = "zmk,behavior-mod-morph";                             \
  #binding-cells = <0>;                                              \
  bindings = <base>, <shift>;                                        \
  mods = <(MOD_LSFT|MOD_RSFT)>;                                      \
};

/ {
  behaviors {
    TWO_LEVEL_KEY(bt_sel1_clr, &bt BT_SEL 1, &bt BT_CLR)
  };

  macros {

    OMIT_IF_NO_REF digraph: digraph {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
        ;
    };

    OMIT_IF_NO_REF ellipsis: ellipsis {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap S_DOT S_DOT S_DOT>;
    };

    OMIT_IF_NO_REF caps: caps {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&kp CAPS>
        , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&kp CAPS>
        ;
    };

    // Sur la VM VDM, les define standards LS(), RA(), etc...
    // ne fonctionne quasiment pas. Surement soucis de timing
    // On tente donc via macro
    OMIT_IF_NO_REF vdm_mod: vdm_mod {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <20>;
      wait-ms = <0>;
      bindings
        = <&macro_press    &macro_param_1to1 &kp MACRO_PLACEHOLDER>  // Modifier 
        , <&macro_wait_time 80>
        , <&macro_tap      &macro_param_2to1 &kp MACRO_PLACEHOLDER>  // Regular key
        , <&macro_release  &macro_param_1to1 &kp MACRO_PLACEHOLDER>  // Modifier
        ;
    };
    
    // Cf &vdm_mod. Ici, on ajoute un espace pour les dead-keys AZERTY
    OMIT_IF_NO_REF vdm_mod_dk: vdm_mod_dk {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <20>;
      wait-ms = <0>;
      bindings
        = <&macro_press    &macro_param_1to1 &kp MACRO_PLACEHOLDER>  // Modifier 
        , <&macro_wait_time 80>
        , <&macro_tap      &macro_param_2to1 &kp MACRO_PLACEHOLDER>  // Regular key
        , <&macro_release  &macro_param_1to1 &kp MACRO_PLACEHOLDER>  // Modifier
        , <&macro_tap      &kp SPACE>
        ;
    };

	// ZMK test to undertand when wait-time actually happens
    OMIT_IF_NO_REF vdm_wait_test: vdm_wait_test {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <100>;
      wait-ms = <500>;
      bindings
		= <&kp F &kp A &kp S &kp T>
		, <&macro_wait_time 2000>
		, <&kp S &kp L &kp O &kp W>
		;
    };

  };
};

// Windows Alt-Code Inputs
// There are three kinds of Alt-Codes:
//  - Alt+[128-255]   = Code Page 437 (IBM/DOS)
//  - Alt+[0128-0255] = Code Page 1252 (close to Latin-1)
//  - Alt+[UTF8 dec.] = Unicode, but only works with MS Office
// We use only CP1252. Full list: https://altcodeunicode.com/

#ifdef ENABLE_CP1252_ALT_CODES
/ {
  macros {

    alt01xx: alt01xx {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_press &kp LALT>
        , <&macro_tap &kp KP_N0 &kp KP_N1>
        , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
        , <&macro_release &kp LALT>
        ;
    };

    alt02xx: alt02xx {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_press &kp LALT>
        , <&macro_tap &kp KP_N0 &kp KP_N2>
        , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
        , <&macro_release &kp LALT>
        ;
    };

  };
};

#define CP1252_UPPERCASE_E_ACUTE   &alt02xx KP_N0 KP_N1 // É
#define CP1252_UPPERCASE_A_GRAVE   &alt01xx KP_N9 KP_N2 // À
#define CP1252_UPPERCASE_E_GRAVE   &alt02xx KP_N0 KP_N0 // È
#define CP1252_UPPERCASE_U_GRAVE   &alt02xx KP_N1 KP_N7 // Ù
#define CP1252_UPPERCASE_C_CEDILLA &alt01xx KP_N9 KP_N9 // Ç

#define CP1252_LOWERCASE_OE        &alt01xx KP_N5 KP_N6 // œ
#define CP1252_UPPERCASE_OE        &alt01xx KP_N4 KP_N0 // Œ
#define CP1252_LOWERCASE_AE        &alt02xx KP_N3 KP_N0 // æ
#define CP1252_UPPERCASE_AE        &alt01xx KP_N9 KP_N8 // Æ
#define CP1252_LOWERCASE_ETH       &alt02xx KP_N4 KP_N0 // ð
#define CP1252_UPPERCASE_ETH       &alt02xx KP_N0 KP_N8 // Ð
#define CP1252_LOWERCASE_THORN     &alt02xx KP_N5 KP_N4 // þ
#define CP1252_UPPERCASE_THORN     &alt02xx KP_N2 KP_N2 // Þ
#define CP1252_LOWERCASE_SZ        &alt02xx KP_N2 KP_N3 // ß

#define CP1252_INVERTED_XMARK      &alt01xx KP_N6 KP_N1 // ¡
#define CP1252_INVERTED_QMARK      &alt01xx KP_N9 KP_N1 // ¿
#define CP1252_FEMININE_ORDINAL    &alt01xx KP_N7 KP_N0 // ª
#define CP1252_MASCULINE_ORDINAL   &alt01xx KP_N8 KP_N6 // º

#define CP1252_LEFT_GUILLEMET      &alt01xx KP_N7 KP_N1 // «
#define CP1252_RIGHT_GUILLEMET     &alt01xx KP_N8 KP_N7 // »
#define CP1252_LOW_SINGLE_QUOTE    &alt01xx KP_N3 KP_N0 // ‚
#define CP1252_LEFT_SINGLE_QUOTE   &alt01xx KP_N4 KP_N5 // ‘
#define CP1252_RIGHT_SINGLE_QUOTE  &alt01xx KP_N4 KP_N6 // ’
#define CP1252_LOW_DOUBLE_QUOTE    &alt01xx KP_N3 KP_N2 // „
#define CP1252_LEFT_DOUBLE_QUOTE   &alt01xx KP_N4 KP_N7 // “
#define CP1252_RIGHT_DOUBLE_QUOTE  &alt01xx KP_N4 KP_N8 // ”
#define CP1252_EN_DASH             &alt01xx KP_N5 KP_N0 // –
#define CP1252_EM_DASH             &alt01xx KP_N5 KP_N1 // —
#define CP1252_ELLIPSIS            &alt01xx KP_N3 KP_N3 // …
#define CP1252_MIDDLE_DOT          &alt01xx KP_N8 KP_N3 // ·
#define CP1252_BULLET              &alt01xx KP_N4 KP_N9 // •
#define CP1252_SECTION             &alt01xx KP_N6 KP_N7 // §
#define CP1252_PARAGRAPH           &alt01xx KP_N8 KP_N2 // ¶
#define CP1252_NO_BREAK_SPACE      &alt01xx KP_N6 KP_N0

#define CP1252_NOT                 &alt01xx KP_N7 KP_N2 // ¬
#define CP1252_DEGREE              &alt01xx KP_N7 KP_N6 // °
#define CP1252_BROKEN_BAR          &alt01xx KP_N6 KP_N6 // ¦
#define CP1252_DIVISION            &alt02xx KP_N4 KP_N7 // ÷
#define CP1252_MULTIPLICATION      &alt02xx KP_N1 KP_N5 // ×
#define CP1252_PLUS_MINUS          &alt01xx KP_N7 KP_N7 // ±
#define CP1252_SUPERSCRIPT_ONE     &alt01xx KP_N8 KP_N5 // ¹
#define CP1252_SUPERSCRIPT_TWO     &alt01xx KP_N7 KP_N8 // ²
#define CP1252_SUPERSCRIPT_THREE   &alt01xx KP_N7 KP_N9 // ³
#define CP1252_ONE_QUARTER         &alt01xx KP_N8 KP_N8 // ¼
#define CP1252_ONE_HALF            &alt01xx KP_N8 KP_N9 // ½
#define CP1252_THREE_QUARTERS      &alt01xx KP_N9 KP_N0 // ¾
#define CP1252_MICRO               &alt01xx KP_N8 KP_N1 // µ

#define CP1252_EURO                &alt01xx KP_N2 KP_N8 // €
#define CP1252_CENT                &alt01xx KP_N6 KP_N2 // ¢
#define CP1252_POUND               &alt01xx KP_N6 KP_N3 // £
#define CP1252_CURRENCY            &alt01xx KP_N6 KP_N4 // ¤
#define CP1252_YEN                 &alt01xx KP_N6 KP_N5 // ¥
#define CP1252_COPYRIGHT           &alt01xx KP_N6 KP_N9 // ©
#define CP1252_REGISTERED          &alt01xx KP_N7 KP_N4 // ®
#define CP1252_TRADEMARK           &alt01xx KP_N5 KP_N3 // ™

#endif
